@font-face {
    font-family: 'Ubuntu';
    src: url('/View/files/ttf/UbuntuNerdFont-Regular.ttf');
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #646464;
    height: 45px;
    box-shadow: rgb(97, 97, 97) 0px 1px 6px;
    display: block;
}


#navbar a {
    text-decoration: none;
    font-family: Ubuntu;
    color: white;
}

#navbar > #nav-left > a {
    float: left;
    padding: 12px;
    transition: 0.2s;
    font-size: 18px;
}

#navbar > h1 {
    font-family: Ubuntu;
    float: left;
    padding: 3px;
    padding-left: 12px;
    padding-right: 16px;
    color: #ffffff;
    font-size: 32px;
}

.nav-right {
    float: right;
    padding: 5px;
}

#user {
    padding: 11px;
    margin-right: 22px;
}

#search-container {
    margin: 3px;
    padding: 5px;
    padding-right: 0px;
    float: right;
    margin-right: 12px;
}

#search-container > input[type=text] {
    padding: 6px;
    width: 200px;
    font-size: 16px;
    font-family: Ubuntu;
    color: white;
    margin-right: -4px;
    border: none;
    outline: none;
    background: #8a8a8a;
}

#search-container > button {
    padding: 6px 10px 4px 10px;
    background: #646464;
    border-radius: 0px;
    border: 1px solid #747474;
    cursor: pointer;
    transition: 0.2s;
}

#search-container > button:hover {
    background: #747474;
}

.nav-left > a:hover {
    background-color: #858585;
}

.menubtn {
    font-size: 30px;
    float: right;
    padding: 6px;
    color: white;
    margin-right: 12px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media only screen and (max-width: 860px) {
    #check:checked ~ #nav-left {
        left: 0px;
    }
    
    #check:checked ~ #search-container {
        left: 0px;
    }
    .menubtn {
        display: block;
        margin-top: -4px;
    }

    header {
        box-shadow: none;
    }

    #nav-left {
        position: fixed;
        top: 45px;
        left: -200px;
        background-color: #646464;
        width: 200px;
        height: 100vh;
        display: flex;
        transition: all 0.3s;
        flex-direction: column;
    }

    #search-container {
        position: fixed;
        top: 270px;
        margin-left: 6px;
        transition: all 0.3s;
        left: -200px;
    }

    #search-container > input[type=text] {
        width: 160px;
    }

    #search-container > button {
        display: none;
    }
}