body {
  background-color: #646464;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial ;
}

h1 {
  color: white;

}

h2 {
  color: white;
}

h3 {
  color: white;
}

#rectangle {
  margin: auto;

  background-color: #1E1E1E;
  width: 500px;
  padding: 10px;
}

#login {
  background-color: #646464;
  color: white;

  p.solid {
    border-style: solid;
  }
}

#signin {
  background-color: #646464;
  color: white;
}


#T_EmailContraseña {
  margin: auto;
  text-align: center;
}

#T_IniciaSession {
  margin: auto;
  text-align: center;
}

#TextBox {
  display: flex;
  justify-content: center;
}

.inputbox{
  display: flex;
  width: 500px;
}

#LoginCentred {
  width: 90%;
  max-width: 500px;
  padding: 20px;
}
